@{ 
    string Message = "";
    string firstActionLink = "";
    string secondActionLink = "";
    string firstActionDisplayName = "";
    string secondActionDisplayName = "";
} 

@{
    if (Session["PersonId"] != null)
    {
        Message = AdvertisementsServer.Global.DataAccess.GetPerson(int.Parse((Session["PersonId"].ToString()))).PersonFirstname + " " +
        AdvertisementsServer.Global.DataAccess.GetPerson(int.Parse((Session["PersonId"].ToString()))).PersonLastname;
        firstActionLink = "Cabinet";
        firstActionDisplayName = "Cabinet";
        secondActionLink = "LogOut";
        secondActionDisplayName = "Log Out";
    }
    else
    {
        Message = "Log In";
        firstActionLink = "LogIn";
        firstActionDisplayName = "Log In";
        secondActionLink = "Create";
        secondActionDisplayName = "Sign Up";
    }
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("A D", "Index", "Advertisements", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="width: 1000px">
                    <li>@Html.ActionLink("Advertisements", "Index", "Advertisements")</li>
                    <li>@Html.ActionLink("People", "Index", "Person")</li>
                    @*<li style="float: right">@Html.ActionLink(Message, "SignIn", "Person")</li>*@
                    <li style="float: right">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                @Message
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(firstActionDisplayName, firstActionLink, "Person")</li>
                                <li>@Html.ActionLink(secondActionDisplayName, secondActionLink, "Person")</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Advertisements application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
