@model IEnumerable<AdvertisementsMVC.Advertisement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <button type="button" class="btn btn-secondary btn-lg">@Html.ActionLink("Create your AD", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            <label for="model.PersonId">Author</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink(AdvertisementsServer.Global.DataAccess.GetPerson(item.PersonId).PersonFirstname + " " +
           AdvertisementsServer.Global.DataAccess.GetPerson(item.PersonId).PersonLastname, "AuthorDetails", new { id = item.PersonId })
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.AdvertId })
        </td>
    </tr>
}

</table>
